{% extends "BuscaSemantica/base.html" %}
{% block content %}
{% load controllForms %}
<div class="p-3 bg-light h-100">
    <div class="d-flex flex-column h-100 p-2">
        <div class="card d-flex mb-3 flex-column flex-shrink-0 w-100 p-4" style="margin-right: 10px">
            <div class="inner-addon right-addon">
                <i class="bi bi-search"></i>
                {% csrf_token %}
                <input class="form-control" id="search-filter" type="text" placeholder="Pesquisar documento..." data-sb-validations="required" />
            </div>
        </div>
        <div class="card d-flex flex-column flex-shrink-0 p-3" style="height: calc(100% - 98px);">
            <div class="d-flex flex-column overflow-auto" id="result-list">
                
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="view_search">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="modal-description"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fechar</button>
                <a type="link" id="button-view" class="btn btn-primary">Visualizar documento</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}