
    {% for child in item %}
    
        <li class="mb-1" style='margin-left:10px'>
            <div class="dropdown-context-menu tree-item" data-option='#context-menu-folder' data-id="{{child.id}}" data-name="{{child.name}}">
                <button class="btn btn-toggle align-items-center rounded " data-bs-toggle="collapse" data-bs-target="#folder-{{child.id}}" aria-expanded="false">
                    <i class="bi bi-caret-right"></i> 
                </button>
                <span role="button" class='selection-element'>{{child.name}}</span>
            </div>
            <div class="collapse show" id="folder-{{child.id}}">
                <ul class="list-unstyled btn-toggle-nav fw-normal pb-1">
                {% if child.children is not None %}   
                    {%include "componentes/dc-tree/dc-tree-item.html" with item=child.children %}
                {% endif %}
                </ul>
            </div>
        </li>
    {% endfor %}