<ul type-component='dc-tree' id='folder-tree' class="list-unstyled dc-component">
    {%include "componentes/dc-tree/dc-tree-item.html" with item=dc_tree %}
    <ul id='context-menu-folder' class="context-menu dropdown-menu">
        <li><a class="dropdown-item" data-bs-toggle="modal" data-action='edit' data-action-title="Editar pasta" data-bs-target="#add_edit_folder" href="#">Editar pasta</a></li>
        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete_folder" href="#">Excluir pasta</a></li>
    </ul>
</ul>


<div class="modal" tabindex="-1" id="add_edit_folder">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form onsubmit="return addEditFolder(event)" >
                {% csrf_token %}
                <div class="modal-header">
                    <h5 id='folder-action-title' class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="id_folder">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nome da pasta</label>
                        <input type="text" class='form-control' name="name" maxlength="255" required="" id="name_folder">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Pasta superior</label>
                        <select class='form-control' name="id_parent_dir" id="id_parent_folder">
                            <option value="" selected="">---------</option>
                            {% for folder in folders_list %}
                                <option value="{{folder.id}}">{{folder.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
                        
            </form>
        </div>
    </div>
</div>