{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Busca Semantica</title>
        <!-- Favicon-->
        <!-- <link rel="icon" type="image/x-icon" href="BuscaSemantica/assets/artificial-intelligence.png" /> -->
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'BuscaSemantica/css/style.css' %}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 ">
            <div class="container px-5 inner-addon left-addon">
                
                <a class="navbar-brand" href="/">
                    <img class="img-fluid" src="{% static 'BuscaSemantica/assets/logo_2.png' %}" alt="..." />
                    <span class="fw-bolder text-gradient">Busca Semantica</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        {% if user.is_authenticated %}
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'documents:list' %}">
                                Gerenciar documentos
                            </a>
                        </li>	
                        {% endif %}
                        <li class="nav-item"><a class="nav-link" href="/">Página inicial</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% if user.is_authenticated %}/about/{% endif %}#about">Sobre</a></li>
                        {% if not user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">Entrar</a></li>
                        {% else %}
                        <li class="nav-item dropdown">
                            
                            <a class="nav-link bi-person-circle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                {{user.get_username}}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                              <li><a class="dropdown-item" type="button" href="{% url 'users:logout' %}">Sair</a></li>
                            </ul>
                          
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <main class="flex-shrink-0" style="height: calc(100% - 144px);">
            
            {% block content %}
			
			{% endblock%}
        </main>
        <!-- Footer-->
        <footer class="bg-white py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0">Copyright &copy; Busca Semantica 2023</div></div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="{% static 'BuscaSemantica/js/bootstrap.bundle.min.js' %}"></script>
        {% if user.is_authenticated %}

        {% if request.resolver_match.app_name == 'documents' %}

        <div class="modal" tabindex="-1" id="delete_document">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form method="POST" {% if form and form.instance.id %}action="{% url 'documents:delete' form.instance.id %}" {% endif%}>
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title">Deletar documento</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Deseja realmente excluir este documento? <br>
                            Ele não poderá ser recuperado
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-danger">Excluir</button>
                        </div>
                                
                    </form>
                </div>
            </div>
        </div>

        <div class="modal" tabindex="-1" id="delete_folder">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form method="POST" onsubmit="return false">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title">Deletar pasta</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Deseja realmente excluir esta pasta? <br>
                            <input type="hidden" name="id" id="id_folder">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fechar</button>
                            <button type="button" onclick='deleteFolder()' class="btn btn-danger">Excluir</button>
                        </div>
                                
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        
        <div class="modal" tabindex="-1" id="add_edit_folder">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form onsubmit="return addEditFolder(event)" >
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 id='folder-action-title' class="modal-title">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="id" id="id_folder">
                            <div class="mb-3">
                                <label for="name" class="form-label">Nome da pasta</label>
                                <input type="text" class='form-control' name="name" maxlength="255" required="" id="name_folder">
                            </div>
                            <div class="mb-3">
                                <label for="name" class="form-label">Pasta superior</label>
                                <select class='form-control' name="id_parent_dir" id="id_parent_folder">
                                    <option value="" selected="">---------</option>
                                    {% for folder in folders_list %}
                                        <option value="{{folder.id}}">{{folder.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fechar</button>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                                
                    </form>
                </div>
            </div>
        </div>
        <script src="{% static 'BuscaSemantica/js/script.js' %}"></script>
        <script src="{% static 'BuscaSemantica/js/models.js' %}"></script>
        <script src="{% static 'BuscaSemantica/js/service.js' %}"></script>
        {% endif %}
        <!-- Core theme JS-->
        <!-- <script src="js/scripts.js"></script> -->
    </body>
</html>
