{% extends "BuscaSemantica/base.html" %}
{% block content %}
{% load controllForms %}

    <div class="h-100 border d-flex overflow-hidden">
        <div class="border overflow-auto" style='width: 60vh;'>
            {% include "componentes/dc-tree/dc-tree.html" with dc_tree=dc_tree %}
        </div>
        <div class="w-100 overflow-hidden d-flex flex-column">
            <div class='flex-row-reverse d-flex border-bottom p-1' style="margin-right: 20px; height: 50px;">
                <a role="button" class="btn btn-secondary mx-1" href="{% url 'material:material_add' %}" >Adicionar</a>
                <a role="button" class="btn btn-secondary mx-1">Editar</a>
                <a role="button" class="btn btn-secondary mx-1">Excluir</a>
            </div>
            <div class='p-3 overflow-auto' style='height: calc(100% - 50px);'>
                <form method="POST" action="/material/register/{% if form.instance.id %}{{form.instance.id}}{% endif %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field|input_type == 'HiddenInput' %}
                            {{field}}
                        {% else %}
                        <div class="mb-3">
                            <label for="{{field.name}}" class="form-label">{{field.label}}</label>
                            {{field|add_classes:'form-control'}}
                        </div>
                        {% endif %}
                    {% endfor %}
                    {% if form.errors %}
                        <div class="alert alert-danger">
                            {{ form.errors }}
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Campo 1</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Campo 2</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Campo Check 1</label>
                    </div>
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">Campo desabilitado</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                    </div>
                    <div class="mb-3">
                        <label for="disabledSelect" class="form-label">Campo seleção desabilitado</label>
                        <select id="disabledSelect" class="form-select">
                          <option>Disabled select</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Campo textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Campo de Arquivo</label>
                        <input class="form-control" type="file" id="formFile">
                    </div> -->
    
{% endblock %}