{% extends "BuscaSemantica/base.html" %}
{% block content %}
{% load controllForms %}
    <div class="p-3 bg-light h-100">
        <div class="d-flex flex-row h-100">
            <div class="card d-flex flex-column flex-shrink-0 h-100" style="margin-right: 10px; width: 280px;">
                {% include "documents/folder-tree/folder-tree.html" with folder_tree=folders %}
            </div>
            <div class="card d-flex flex-column flex-shrink-0 p-3 h-100" style="width: calc(100% - 290px);">
                <div class='d-flex flex-row'>
                    <a class="nav-link" href="{% url 'documents:list' %}"><i class="bi bi-chevron-left" style="font-size: 1.25rem;margin-right:5px"></i></a>
                    <h3>{{form.form_title}}</h3>
                </div>
                <form id='form_document' style="height: calc(100% - 38px);" class=' d-flex flex-column' enctype="multipart/form-data">
                    <!--  -->
                    <div class="overflow-auto border-bottom px-2 h-100" >
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field|input_type == 'HiddenInput' %}
                                {{field}} 
                            {% elif field.name == 'file'  %}
                                <div class="mb-3">
                                    <label for="{{field.name}}" class="form-label">{{field.label}}</label>
                                    {% if form.instance.file %}
                                    
                                    <div class='d-flex flex-row mb-1'>
                                        <i class="bi bi-file-earmark mx-1 text-decoration-none"> </i>
                                        <div class=''>
                                            <span> Documento Atual: </span>
                                            <a class="mx-2" href="/media/{{form.instance.file}}" download> {{form.instance.filename}} </a>
                                            <button type="button" data-bs-toggle="button" id="delete-file" class=" p-0 px-1 btn btn-danger">
                                                <i class="bi bi-trash3"></i>
                                            </button>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <input type="file" accept="application/pdf" name="file" class="form-control" id="id_file">
                                </div>
                            {% else %}
                            <div class="mb-3">
                                <label for="{{field.name}}" class="form-label">{{field.label}}</label>
                                {{field|add_classes:'form-control'}}
                            </div>
                            {% endif %}
                        {% endfor %}
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                {{ form.errors }}
                            </div>
                        {% endif %}
                        <p class="card-text">
                            <small class="text-body-secondary">
                                {% if form.instance.pk %}
                                <i class="bi bi-pencil-fill text-secondary px-2"></i>
                                <span>Criado por {{form.instance.user_created}} em {{form.instance.dt_created}} </span>
                                    {% if form.instance.user_updated %}
                                        <span class='mx-2'>Editado por {{form.instance.user_updated}} em {{form.instance.dt_updated}} </span>
                                    {% endif %}
                                {% endif %}
                            </small>
                        </p>
                    </div>
                    <div class='d-flex flex-row-reverse'>
                        <button type="submit" class="btn mt-2 mx-2 btn-primary">Salvar</button>
                        <!-- <a href="{% url 'documents:add' %}" class="btn btn-light text-nowrap mt-2" tabindex="-1" role="button" aria-disabled="true">Salvar e Novo </a> -->
                        {% if form.instance.pk %}
                        <button type="button" data-bs-toggle="modal" data-bs-target="#delete_document" class="btn mt-2 mx-2 btn-danger">Excluir</button>
                        {% endif %}
                    </div>
                </form>  
            </div>
        </div>
    </div>
    <script>
        
        document.addEventListener('DOMContentLoaded', function() {

            const valueEdit = document.querySelector('select[name="id_folder"]').value;
            window.FolderTree.$element.querySelectorAll(`div[data-id="${valueEdit}"] span`).forEach( element => {
                window.FolderTree.filteredSpan = element;

                element.classList.add('selected');
            })
            window.FolderTree.addEventListener("created_folder", (event) => {
                document.querySelector('select[name="id_folder"]').innerHTML += `<option value="${event.detail.id}">${event.detail.name}</option>`  
            })
            window.FolderTree.addEventListener("span_clicked", (event) => {
                const value = event.detail.id || '';
                document.querySelector('select[name="id_folder"]').value = value;
            });
            window.FolderTree.addEventListener("deleted_folder", (event) => {
                document.querySelector(`select[name="id_folder"] option[value="${event.detail.id}"]`).remove();
            });
        });
        
    </script>

    <div class="modal" tabindex="-1" id="delete_document">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form method="POST" {% if form and form.instance.id %}action="{% url 'documents:delete' form.instance.id %}" {% endif%}>
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title">Deletar documento</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Deseja realmente excluir este documento? <br>
                        Ele não poderá ser recuperado
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </div>
                            
                </form>
            </div>
        </div>
    </div>
{% endblock %}