{% extends "BuscaSemantica/base.html" %}
{% block content %}
{% load controllForms %}

<div class="p-3 bg-light h-100">
    <div class="d-flex flex-row h-100">
        <div class="card d-flex flex-column flex-shrink-0 h-100" style="margin-right: 10px; width: 280px;">
            {% include "documents/folder-tree/folder-tree.html" with folder_tree=folders %}
        </div>
        <div class="card d-flex flex-column flex-shrink-0 p-3 h-100" style="width: calc(100% - 290px);">
            <div class="inner-addon right-addon">
                <i class="bi bi-search"></i>
                <input class="form-control" id="doc-name" type="text" placeholder="Pesquisar documento..." data-sb-validations="required" />
            </div>
            
            <div class='py-2 w-100' id='filter-folder'>
                    
            </div>
            <div class='overflow-auto border' style="height: calc(100% - 38px);">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        {% for column in metadata.columns %}
                            {%if column.attname == 'id' %}
                                <th style="text-align: right">{{column.verbose_name}}</th>
                            {% elif column.attname == 'file' %}
                                <th scope="col" class="text-center">{{column.verbose_name}}</th>
                            {% else %}
                                <th scope="col">{{column.verbose_name}}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for row in metadata.content %}
                            <tr data-bs-toggle="tooltip" data-bs-placement="top" title="{{ row.name }}">
                                {% for column in metadata.columns %}
                                    {%if column.attname == 'id' %}
                                        <td class='{{column.attname}}' style="text-align: right; width: 70px;">
                                            <a class="nav-link text-primary d-flex flex-row justify-content-end " href="{% url 'documents:edit' row.id %}"> 
                                                <i class="bi bi-pencil-square d-flex  d-none" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" style='margin-right:10px'></i> 
                                                <span>{{row|get_obj_attr:column.attname}} </span>
                                            </a>
                                        </td>
                                    {% elif column.attname == 'file' %}
                                        
                                        <td class="text-center {{column.attname}}">
                                            {%if row|get_obj_attr:column.attname %}
                                                <a href="/media/{{row|get_obj_attr:column.attname}}" download> 
                                                    <i class="bi bi-filetype-pdf" data-bs-toggle="tooltip" data-bs-placement="top" title="Fazer download do arquivo"></i> 
                                                </a>
                                            {% endif %}
                                            </td>
                                    {% elif column.attname == 'id_folder' %}
                                        <td class='{{column.attname}}' data-id="{{row|get_obj_id:column.attname}}">{{row|get_obj_attr:column.attname}} </td>
                                    {% else %}
                                        <td class='{{column.attname}}'>{{row|get_obj_attr:column.attname}} </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>  
            </div>  
            <div class="d-flex flex-row  flex-row-reverse pt-2">
                <a href="{% url 'documents:add' %}" class="btn btn-primary text-nowrap" tabindex="-1" role="button" aria-disabled="true"> <i class="bi bi-plus"></i>  <span class="text-nowrap">Incluir documento</span></a>
    
            </div>       
        </div>
    </div>
</div>
<script>
        
    document.addEventListener('DOMContentLoaded', function() {

        window.FolderTree.addEventListener("span_clicked", (eventSpan) => {
            document.querySelector('#filter-folder').innerHTML = '';
            if (event.detail.id){
                const folder = document.createElement('span');
                folder.className = 'badge rounded-pill text-bg-secondary text-white mx-1';
                folder.setAttribute('role','button');
                folder.setAttribute('data-id', event.detail.id);
                folder.textContent = event.detail.span.textContent;
                folder.innerHTML += '<i class="bi bi-x"></i>';
                folder.addEventListener('click', () => {
                    folder.remove();
                    eventSpan.detail.span.classList.remove('selected');
                    window.FolderTree.filteredFolder = null;
                    window.FolderTree.filterDocuments();
                });
                document.querySelector('#filter-folder').appendChild(folder);
                
            }
            window.FolderTree.filterDocuments();
        });
    });
    
</script>
<style>
    tbody tr:hover td .bi-pencil-square{
        display: block !important;
    }
</style>
{% endblock %}