{% extends "BuscaSemantica/base.html" %}
{% block content %}
{% load controllForms %}

<div class="p-3 bg-light h-100">
    <div class="d-flex flex-row h-100">
        <div class="card d-flex flex-column flex-shrink-0 h-100" style="margin-right: 10px; width: 280px;">
            <div class='border-bottom p-3'>
                <div class="inner-addon right-addon">
                    <i class="bi bi-search"></i>
                    <input class="form-control" id="folder-name" onkeyup="myFunction()" type="text" placeholder="Pesquisar pasta..." data-sb-validations="required" />
                </div>
                <div class='d-flex justify-content-center pt-3'>
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-action-title="Incluir pasta" data-bs-target="#add_edit_folder">
                        <i class="bi bi-folder-plus" style="margin-right:5px"></i>
                        Incluir pasta
                    </button>
                </div>
            </div>
            <div class='overflow-auto' id="tree-items">
                {% include "componentes/dc-tree/dc-tree.html" with dc_tree=folders %}
            </div>
        </div>
        <div class="card d-flex flex-column flex-shrink-0 p-3 h-100" style="width: calc(100% - 290px);">
            <div class="inner-addon right-addon">
                <i class="bi bi-search"></i>
                <input class="form-control" id="doc-name" type="text" placeholder="Pesquisar documento..." data-sb-validations="required" />
            </div>
            
            <div class='py-2 w-100' id='filter-folder'>
                    
            </div>
            <div class='overflow-auto border' style="height: calc(100% - 38px);">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        {% for column in metadata.columns %}
                            {%if column.attname == 'id' %}
                                <th style="text-align: right">{{column.verbose_name}}</th>
                            {% elif column.attname == 'file' %}
                                <th scope="col" class="text-center">{{column.verbose_name}}</th>
                            {% else %}
                                <th scope="col">{{column.verbose_name}}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for row in metadata.content %}
                            <tr data-bs-toggle="tooltip" data-bs-placement="top" title="{{ row.name }}">
                                {% for column in metadata.columns %}
                                    {%if column.attname == 'id' %}
                                        <td style="text-align: right">
                                            <a class="nav-link text-primary d-flex flex-row justify-content-end " href="{% url 'documents:edit' row.id %}"> 
                                                <i class="bi bi-pencil-square d-flex  d-none" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" style='margin-right:10px'></i> 
                                                <span>{{row|get_obj_attr:column.attname}} </span>
                                            </a>
                                        </td>
                                    {% elif column.attname == 'file' %}
                                        
                                        <td class="text-center">
                                            {%if row|get_obj_attr:column.attname %}
                                                <a href="/media/{{row|get_obj_attr:column.attname}}" download> 
                                                    <i class="bi bi-filetype-pdf" data-bs-toggle="tooltip" data-bs-placement="top" title="Fazer download do arquivo"></i> 
                                                </a>
                                            {% endif %}
                                            </td>
                                    {% else %}
                                        <td>{{row|get_obj_attr:column.attname}} </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>  
            </div>  
            <div class="d-flex flex-row  flex-row-reverse pt-2">
                <a href="{% url 'documents:add' %}" class="btn btn-primary text-nowrap" tabindex="-1" role="button" aria-disabled="true"> <i class="bi bi-plus"></i>  <span class="text-nowrap">Incluir documento</span></a>
    
            </div>       
        </div>
    </div>
</div>
<script>
    document.querySelectorAll('.folder').forEach( element => {
        element['folder-filter'] = document.querySelector('#filter-folder')
        element.addEventListener('click', function(e) {
            const folder = document.createElement('span');
            folder.className = 'badge rounded-pill text-bg-secondary text-white mx-1';
            folder.setAttribute('role','button');
            folder.setAttribute('data-id', element.getAttribute('data-id'));
            folder.textContent = element.textContent;
            folder.innerHTML += '<i class="bi bi-x"></i>'
            folder.addEventListener('click', () => folder.remove())
            element['folder-filter'].appendChild(folder);
        });
    });

    // Função que mostra o valor do input num alert
    function mostrarValor() {
        filter = document.getElementById("folder-name").value.toUpperCase();
        tree = document.getElementsByClassName("dropdown-context-menu");
        
        // alert(tree);
        // alert(document.getElementsByClassName("dropdown-context-menu").length);

        for (i = 0; i < tree.length; i++) {
          td = tree[i].innerText;
          if (td) {
            // txtValue = td.textContent || td.innerText;
            console.log(filter.indexOf(td.toUpperCase()));
            if (td.toUpperCase().indexOf(filter) > -1) {
              td[i].style.display = "";
            } else {
              td[i].style.display = "none";
            }
          }       
        }
        // console.log(tree);
    }

    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("folder-name");

        input.classList.toggle('d-None');
        filter = input.value.toUpperCase();
        table = document.getElementById("tree-items");
        tr = table.getElementsByTagName("span");
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("span")[0];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }       
        }
      }

    function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}

    // Evento que é executado toda vez que uma tecla for pressionada no input
    document.getElementById("folder-name").onkeypress = function(e) {
        // 13 é a tecla ENTER, se ela for pressionada, mostrar o valor
        if (e.keyCode == 13) {
            mostrarValor();
            e.preventDefault();
        }
    }
</script>
<style>
    tbody tr:hover td .bi-pencil-square{
        display: block !important;
    }
</style>
{% endblock %}