{% extends "BuscaSemantica/base.html" %}
{% block content %}
{% load controllForms %}

<div class="p-3 bg-light h-100">
    <div class="d-flex flex-row h-100">
        <div class="card d-flex flex-column flex-shrink-0 h-100" style="margin-right: 10px; width: 280px;">
            <div class='border-bottom p-3'>
                <div class="inner-addon right-addon">
                    <i class="bi bi-search"></i>
                    <input class="form-control" id="name" type="text" placeholder="Pesquisar pasta..." data-sb-validations="required" />
                </div>
                <div class='d-flex justify-content-center pt-3'>
                    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-action-title="Incluir pasta" data-bs-target="#add_edit_folder">
                        <i class="bi bi-folder-plus" style="margin-right:5px"></i>
                        Incluir pasta
                    </button>
                </div>
            </div>
            <div class='overflow-auto'>
                {% include "componentes/dc-tree/dc-tree.html" with dc_tree=folders %}
            </div>
        </div>
        <div class="card d-flex flex-column flex-shrink-0 p-3 h-100" style="width: calc(100% - 290px);">
            <div class="inner-addon right-addon">
                <i class="bi bi-search"></i>
                <input class="form-control" id="name" type="text" placeholder="Pesquisar pasta..." data-sb-validations="required" />
            </div>
            
            <div class='py-2 w-100' id='filter-folder'>
                    
            </div>
            <div class='overflow-auto border' style="height: calc(100% - 38px);">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        {% for column in metadata.columns %}
                            {%if column.attname == 'id' %}
                                <th style="text-align: right">{{column.verbose_name}}</th>
                            {% elif column.attname == 'file' %}
                                <th scope="col" class="text-center">{{column.verbose_name}}</th>
                            {% else %}
                                <th scope="col">{{column.verbose_name}}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                        {% for row in metadata.content %}
                            <tr>
                                {% for column in metadata.columns %}
                                    {%if column.attname == 'id' %}
                                        <td style="text-align: right">
                                            <a class="nav-link text-primary d-flex flex-row justify-content-end " href="{% url 'documents:edit' row.id %}"> 
                                                <i class="bi bi-pencil-square d-flex  d-none"  style='margin-right:10px'></i> 
                                                <span>{{row|get_obj_attr:column.attname}} </span>
                                            </a>
                                        </td>
                                    {% elif column.attname == 'file' %}
                                        
                                        <td class="text-center">
                                            {%if row|get_obj_attr:column.attname %}
                                                <a href="/media/{{row|get_obj_attr:column.attname}}" download> 
                                                    <i class="bi bi-filetype-pdf"></i> 
                                                </a>
                                            {% endif %}
                                            </td>
                                    {% else %}
                                        <td>{{row|get_obj_attr:column.attname}} </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>  
            </div>  
            <div class="d-flex flex-row  flex-row-reverse pt-2">
                <a href="{% url 'documents:add' %}" class="btn btn-primary text-nowrap" tabindex="-1" role="button" aria-disabled="true"> <i class="bi bi-plus"></i>  <span class="text-nowrap">Incluir Documento</span></a>
    
            </div>       
        </div>
    </div>
</div>
 
<style>
    tbody tr:hover td .bi-pencil-square{
        display: block !important;
    }
</style>
<script>


</script>
{% endblock %}